<div class="container contact-bg py-5">
  <div class="row justify-content-center">
    <div class="col-md-7 text-center">
      <div class="card glossy shadow p-4">
        <h2 class="fw-bold mb-4 contact-title">Contact Me</h2>
        <p class="mb-5 lead contact-subtitle">I'd love to connect! Reach out to me through any of the channels below.
        </p>

        <div class="mb-4 contact-method d-flex align-items-center justify-content-center gap-2">
          <i class="bi bi-envelope-fill contact-icon email"></i>
          <a href="mailto:nikheeltalwade@gmail.com" class="text-decoration-none contact-link"
            target="_blank">nikheeltalwade</a>
        </div>
        <div class="mb-4 contact-method d-flex align-items-center justify-content-center gap-2">
          <i class="bi bi-telephone-fill contact-icon phone"></i>
          <a href="tel:+919591241878" class="text-decoration-none contact-link" target="_blank">+91 9591241878</a>
        </div>
        <div class="mb-4 contact-method d-flex align-items-center justify-content-center gap-2">
          <i class="bi bi-linkedin contact-icon linkedin"></i>
          <a href="https://www.linkedin.com/in/nikheeltalwade/" target="_blank"
            class="text-decoration-none contact-link">
            Nikheel Talwade
          </a>
        </div>
        <div class="contact-method d-flex align-items-center justify-content-center gap-2">
          <i class="bi bi-instagram contact-icon instagram"></i>
          <a href="https://instagram.com/nikheel_talwade" target="_blank" class="text-decoration-none contact-link">
            thenameisnikheel
          </a>
        </div>
      </div>
    </div>
  </div>
</div>