<div class="container about-bg py-5">
    <div class="card shadow p-4 mx-auto about-card">
        <p class="lead mb-3">
            Hello! I'm <span class="fw-bold about-name">Nikheel Talwade</span>, a passionate UI/Angular
            Developer based in Hyderabad. With over 3 years of experience, I specialize in building dynamic, scalable,
            and user-friendly web applications that drive business growth and deliver seamless user experiences.
        </p>
        <p>
            My journey includes developing financial and government solutions, collaborating with cross-functional
            teams, and engineering reusable UI components for efficiency and consistency. I thrive on solving complex UI
            challenges and am committed to continuous learning and innovation.
        </p>
        <p>
            Beyond coding, I have contributed as a freelance tutor, helping students adapt to remote learning during the
            pandemic. I believe in the power of technology to make a positive impact and am always eager to take on new
            challenges.
        </p>
        <p class="mb-0">
            <strong>Let's connect and create something amazing together!</strong>
            <br>
            <span>To get in touch, <a (click)="navigateToContact()"
                    class="fw-bold about-link">click here</a> to
                visit my contact</span>
        </p>
    </div>
</div>