.home-bg {
    background: url('../../../assets/portfolio5.jpg');
    background-size: cover;
    min-height: 100vh;
}

.rounded-circle {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 1px solid #099ea3;
}