<div class="container home-bg text-center py-5">
    <img src="assets/profile.jpg" alt="Nikheel Talwade" class="rounded-circle mb-4">

    <h1 class="fw-bold mb-2">Nikheel Talwade</h1>
    <h4 class="text-muted mb-4">UI | Angular Developer</h4>

    <p class="lead mb-4" style="font-size: 1.25rem; color: #343a40;">
        🚀 <strong>Welcome to my portfolio!</strong> <br>
        Focused professional with over
        <span style="color: #007bff; font-weight: bold;">3</span> years of experience; <br>
        targeting assignments in
        <span style="color: #007bff; font-weight: bold;">UI Development</span>
        with an organization of high repute to deliver <br>
        impactful solutions and drive mutual growth. <br>
        I specialize in crafting <span style="color: #007bff; font-weight: bold;">dynamic</span> and
        <span style="color: #007bff; font-weight: bold;">scalable</span> web applications with a focus on
        <span style="color: #007bff; font-weight: bold;">exceptional user experiences</span>.<br>
        <span style="color: #007bff;">Explore</span> my <strong>Projects</strong>,
        <strong>Education</strong>, and <strong>Contact</strong> options using the sidebar.<br>
        <em>Let's build something amazing together!</em>
    </p>
    <a href="assets/Nikheel_Talwade_SDE.pdf" class="btn btn-primary" target="_blank">
        Resume
    </a>
</div>